.modal {
    position: absolute;
    width: 50vw;
    top: 20%;
    height: 80vh;
    overflow-y: auto;
    left: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    border-bottom: 0.1px rgb(236, 226, 226) solid;
  }
  .modal_search {
    display: flex;
    padding: 1rem;
    height: 4rem;
  }
  .modal_header {
    padding: 1rem;
    border-bottom: 0.1px solid var( --gray_100);
    height: 4rem;
  }
  
  .modal_product_list {
    flex: 1;
    overflow-y: auto;
  }
  .modal_footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 4rem;
  }
  .modal_buttons {
    .cancel {
      margin-left: 12px;
      margin-bottom: 12px;
      padding-left: 22px;
      padding-right: 22px;
      height: 32px;
      min-width: 140px;
      border: 1px solid black;
      border-radius: 4px;
    }
    .add {
      color: var(--white_700) !important;
      margin-left: 12px;
      padding-left: 22px;
      padding-right: 22px;
      background-color: var(--teal_700) !important;
      height: 32px;
      min-width: 140px;
      border-radius: 4px !important;
    }
  }
  .modal_item_heading {
    display: flex;
    align-items: center;
    border-top:0.5px solid var(--gray_600);
    border-bottom: 0.5px solid var(--gray_600);
    padding: 1rem;
    .checkbox {
      width: 40px;
    }
    input[type="checkbox"] {
      transform: scale(1.5);
      background-color: var(--teal_700);
    }
  }
  .modal_item_image {
    height: 40px;
    object-fit: cover;
  }
  
  .variant {
    display: flex;
    align-items: center;
    border-top: 0.5px solid var(--gray_100);
    border-bottom: 0.5px solid var(--gray_100);
    padding: 1rem;
    padding-left: 3rem;
    justify-content: space-between;
    input {
      transform: scale(1.5);
      width: 20px;
      background-color: var(--teal_700);
    }
  }
  .variant_details {
    display: flex;
    gap: 1rem;
  }
  input[type="checkbox"]:checked {
    transform: scale(1.5);
    background-color: red;
  }
  .discount_input {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }
  .discount_value {
    background-color: white;
    width: 60px;
    height: 30px;
    text-align: center;
  }
  .discount_dropdown {
    background-color: white;
    width: 60px;
    text-align: center;
  }
  .failed-data{
    padding: 2rem;
    button{
      color: var(--white_700) !important;
      margin-left: 12px;
      padding-left: 22px;
      padding-right: 22px;
      background-color: var(--teal_700) !important;
      height: 32px;
      min-width: 140px;
      border-radius: 4px !important;
    }
  }